main{
    margin: 25px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-between;
    grid-gap: 20px;
}
.article_title{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin: 10px 0 5px;
    display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
}
.article_card{
    width: 310px;
    gap: 0;
    color: #363636;
    justify-content: flex-start;
}
.article_img{
    object-fit: cover;
    height: 250px;
    overflow: hidden;
}
.article_date_time{
    font-size: 16px;
    font-weight: 200;
}