*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: san-serif;
    line-height: 1.15;
}
body{
    background: #fff;
    color: black;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.5;
}
.flex-row{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
a{
    color: #333;
    text-decoration: none;
}
#header_wrapper{
    position: relative;
    justify-content: center;
    margin: 10px 50px 0;
    padding: 5px 15px;
    height: 90px;
}
#header_wrapper .logo_img{
    position: absolute;
    left: 0;
    height: 79.98px;
}
#language-selection-wrapper{
    gap: 10px;
}
.flex-grow {
    flex-grow: 1;
}