<header id="header-tag">
    <div id="header_wrapper" class="flex-row">
        <img src="/static/images/logo/{{language}}.png" alt="The Federal logo" title="The Federal" class="navbar-brand logo_img the-federal-logo">
        <div id="language-selection-wrapper" class="flex-row">
            <a onclick="changeLanguage('en')">English</a>
            <span>|</span>
            <a onclick="changeLanguage('hi')">हिंदी</a>
            <span>|</span>
            <a onclick="changeLanguage('te')">తెలుగు</a>
            <span>|</span>
            <a onclick="changeLanguage('ta')">தமிழ்</a>
        </div>
    </div>
</header>
<hr>
