<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/css/style-create-article.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8+V9LqLJwZZR1Z8uv5N5qoZBpZD8f3apZlJADxHS1i6W+hXTt2Z1P4QhMrq" crossorigin="anonymous"></script>
        <script src="https://cdn.tiny.cloud/1/ni4eqe2lji800ya48ern0kvph943oaf4gwxgevan2cu2usc9/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
              selector: '#content_textarea',
              plugins: [
                  'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'template', 'help'
                ],
              menu: {
                    file: { title: 'File', items: 'newdocument restoredraft | preview | export print | deleteallconversations' },
                    edit: { title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall | searchreplace' },
                    view: { title: 'View', items: 'code | visualaid visualchars visualblocks | spellchecker | preview fullscreen | showcomments' },
                    insert: { title: 'Insert', items: 'image link media addcomment pageembed template codesample inserttable | charmap emoticons hr | pagebreak nonbreaking anchor tableofcontents | insertdatetime' },
                    format: { title: 'Format', items: 'bold italic underline strikethrough superscript subscript codeformat | styles blocks fontfamily fontsize align lineheight | forecolor backcolor | language | removeformat' },
                    tools: { title: 'Tools', items: 'spellchecker spellcheckerlanguage | a11ycheck code wordcount' },
                    table: { title: 'Table', items: 'inserttable | cell row column | advtablesort | tableprops deletetable' },
                    help: { title: 'Help', items: 'help' }
                }
            });
          </script>
    </head>
    <body>
        <div id="main-container" class="flex-column border border-light">
            <h2 id="heading">{{ title }}</h2>
            <hr>
            <form method="post">
                <div class="mb-3 title">
                    <div>Title (English)</div>
                    <p id="title_en">{{article.title_en}}</p>
                </div>
                <hr>
                <div class="mb-3">
                    <div>Summary (English)</div>
                    <p id="summary_en">{{article.summary_en}}</p>
                </div>
                <hr>
                <div class="mb-3">
                    <div>Content (English)</div>
                    <p id="content_en">{{article.content_en | safe}}</p>
                </div>
                <hr>

                <!-- <input type="hidden" name="translated_lang" value="{{ language }}"> -->
                <div class="mb-3 form-group title">
                    <label for="title_{{ language }}" class="form-label">Title ({{language}})</label>
                    <textarea type="text" class="form-control" id="title_{{ language }}" name="title_{{ language }}" required>{{ article['title_' + language] }}</textarea>
                </div>
                <hr>
                <div class="mb-3 form-group">
                    <label for="summary_{{ language }}" class="form-label">Summary ({{language}})</label>
                    <textarea type="text" class="form-control" id="summary_{{ language }}" name="summary_{{ language }}">{{ article['summary_' + language] }}</textarea>
                </div>
                <hr>
                <div class="mb-3 form-group">
                    <label for="content_{{ language }}" class="form-label">Content ({{language}})</label>
                    <textarea class="form-control" id="content_textarea" name="content_{{ language }}" required>{{ article['content_' + language] | safe }}</textarea>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    </body>
</html>
